.container-billingForm {
    margin: 0 auto;
    padding: 20px 200px;
    box-shadow: 0px 2px 5px #007BFF;
}

.container-billingForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

.billingInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box {
    width: 48%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.billingInfo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.billingInfo input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #e0dede;
    border-radius: 4px;
}

.tableProducts {
    margin-top: 20px;
}

.table-containerBilling{
    max-height: 250px; /* Altura máxima para scroll vertical */
    overflow: auto;    /* Activa la barra de desplazamiento */
    margin: 10px 0px 40px 0px;
}

.tableProducts table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.tableProducts th,
.tableProducts td {
    border: 1px solid #007bff;
    padding: 8px;
}

.tableProducts th {
    background-color: #007BFF;
    color: #fff;
    position: sticky;
    top: 0;
}

.btn-AddToBill{
    background-color: #28a745;
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btnCreateBill {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btnCreateBill:hover, .cancelBill:hover {
    background-color: #0056b3;
}

#sales-history table {
    width: 100%;
    border-collapse: collapse;
}

#sales-history th, #sales-history td {
    padding: 10px;
    text-align: left;
    border: 1px solid #007bff;
}

#sales-history button {
    padding: 5px;
    border: none;
    cursor: pointer;
}




#table-salesHistory table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#table-salesHistory th,
#table-salesHistory td {
    padding: 10px;
    text-align: left;
    border: 1px solid #007bff;
}

#table-salesHistory th {
    background-color: #007BFF;
    color: white;
}

#table-salesHistory td {
    background-color: #f9f9f9;
}

#table-salesHistory button {
    padding: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.cancelBill{
    background-color: red;
    font-weight: bold;
}

.btn-deleteSale:hover {
    background-color: darkred;
}

.btn-downloadBill:hover {
    background-color: #aa7f22;
}

.btn-deleteSale {
    background-color: red;
    color: white;
}

.btn-downloadBill {
    background-color:#f3b226;
    color:  black;
}

