/* styles/clientsStyle.css */

.form-clients-container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.form-client {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input, 
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons-actions {
    text-align: center;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
}

.btn:hover {
    background-color: #0056b3;
}

.tableClients-container {
    margin-top: 20px;
}

.table-clients {
    width: 100%;
    border-collapse: collapse;
}

.table-clients th,
.table-clients td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-clients th {
    background-color: #007BFF;
    color: white;
}

.table-clients button {
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.table-clients .btn-delete {
    background-color: #cf353d;
}

.table-clients .btn-delete:hover {
    background-color: #8f2e32;
}

.table-clients .btn-info {
    background-color: #007BFF;
}

.table-clients .btn-info:hover {
    background-color: #0056b3;
}

/* Barra de búsqueda */
.search-bar {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.search-bar:focus {
    border-color: #007BFF;
}

.search-container {
    margin-bottom: 20px;
}

.table-clients .btn-edit {
    background-color: #28a745; /* Green for Edit */
}

.table-clients .btn-edit:hover {
    background-color: #218838;
}