.home {
    background-image: url('../images/ImagenHome.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.home-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;

}

.home-content h1 {
    margin: 0;
    font-size: 3rem;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}

.home-content h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}

.btn-primary {
    margin: 1.8rem 0px;
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #114377;
}