
/* REGISTER */

.register-view {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    background-color: white;
    padding: 20px;
}

.register-container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 70px;

}

.register-container h2{
    text-align: center;
    margin-bottom: 0.5rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-form h2 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}

.register-form label {
    font-weight: bold;
    color: #333;
}

.register-form input,
.register-form select {
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 4px;
    font-size: 16px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.register-button, 
.cancel-button {
    flex-grow: 1;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button {
    background-color: #007BFF;
    color: white;
    border: none;
}

.cancel-button {
    background-color: #f8f9fa;
    color: #007BFF;
    border: 1px solid #007BFF;
}

.register-button:hover {
    background-color: #0056b3;
}

.cancel-button:hover {
    background-color: #e9ecef;
}

@media (max-width: 600px) {
    .register-container {
        max-width: 100%;
        padding: 20px;
    }
}